#stars {
  width: 2px;
  height: 2px;
  border-radius: 1px;
  background: transparent;
  box-shadow: 1432px 1146px #353535, 1524px 154px #353535, 654px 1085px #353535,
    1747px 1434px #353535, 435px 135px #353535, 1401px 396px #353535,
    342px 1098px #353535, 1653px 1090px #353535, 646px 882px #353535,
    85px 449px #353535, 1436px 120px #353535, 1926px 1232px #353535,
    1942px 651px #353535, 1040px 1243px #353535, 1833px 1739px #353535,
    264px 1271px #353535, 1078px 705px #353535, 899px 1060px #353535,
    128px 1197px #353535, 98px 375px #353535, 1103px 617px #353535,
    637px 258px #353535, 1456px 296px #353535, 794px 1424px #353535,
    234px 640px #353535, 1736px 68px #353535, 603px 1827px #353535,
    1990px 505px #353535, 510px 1173px #353535, 861px 671px #353535,
    1205px 1056px #353535, 251px 437px #353535, 1095px 786px #353535,
    1840px 1016px #353535, 1632px 1163px #353535, 1118px 111px #353535,
    1975px 1255px #353535, 643px 1871px #353535, 50px 1400px #353535,
    1197px 499px #353535, 1842px 1813px #353535, 323px 1069px #353535,
    1569px 1506px #353535, 137px 1529px #353535, 1993px 1877px #353535,
    927px 247px #353535, 954px 1084px #353535, 780px 1714px #353535,
    404px 471px #353535, 905px 1985px #353535, 1926px 1868px #353535,
    1340px 668px #353535, 1595px 1582px #353535, 1920px 1715px #353535,
    628px 1752px #353535, 173px 380px #353535, 1573px 1083px #353535,
    1395px 425px #353535, 918px 1262px #353535, 1076px 1032px #353535,
    1016px 1615px #353535, 1349px 1309px #353535, 750px 248px #353535,
    987px 323px #353535, 1987px 1457px #353535, 1464px 724px #353535,
    359px 817px #353535, 405px 543px #353535, 1230px 218px #353535,
    200px 437px #353535, 1291px 1409px #353535, 1545px 1558px #353535,
    324px 324px #353535, 1886px 1439px #353535, 1213px 1099px #353535,
    110px 231px #353535, 720px 317px #353535, 607px 1982px #353535,
    141px 173px #353535, 1993px 1151px #353535, 1643px 1703px #353535,
    1878px 1443px #353535, 1903px 1083px #353535, 540px 1177px #353535,
    171px 1767px #353535, 410px 1839px #353535, 1331px 1685px #353535,
    1342px 699px #353535, 1804px 1506px #353535, 1761px 492px #353535,
    25px 1927px #353535, 1883px 1958px #353535, 1640px 1969px #353535,
    1564px 997px #353535, 1985px 1798px #353535, 623px 1442px #353535,
    1780px 402px #353535, 1823px 274px #353535, 1093px 931px #353535,
    733px 1610px #353535, 197px 714px #353535, 1669px 698px #353535,
    1959px 1666px #353535, 1857px 395px #353535, 406px 1678px #353535,
    1970px 1201px #353535, 705px 1342px #353535, 1456px 1056px #353535,
    1513px 1845px #353535, 1844px 1236px #353535, 1838px 1021px #353535,
    1033px 1046px #353535, 532px 1133px #353535, 191px 1627px #353535,
    330px 370px #353535, 349px 1987px #353535, 833px 483px #353535,
    1488px 902px #353535, 1756px 711px #353535, 1559px 1671px #353535,
    1844px 223px #353535, 742px 892px #353535, 1045px 1864px #353535,
    1340px 174px #353535, 1405px 564px #353535, 1241px 817px #353535,
    457px 1902px #353535, 1521px 356px #353535, 862px 189px #353535,
    621px 1534px #353535, 1803px 776px #353535, 667px 326px #353535,
    1485px 1779px #353535, 402px 457px #353535, 1235px 1558px #353535,
    406px 1459px #353535, 929px 669px #353535, 1969px 1163px #353535,
    251px 1145px #353535, 828px 1973px #353535, 424px 1685px #353535,
    869px 810px #353535, 917px 1372px #353535, 268px 1512px #353535,
    1358px 704px #353535, 199px 1026px #353535, 250px 1539px #353535,
    1824px 1266px #353535, 901px 1921px #353535, 924px 79px #353535,
    908px 1070px #353535, 1208px 1146px #353535, 1402px 599px #353535,
    230px 1456px #353535, 1474px 893px #353535, 233px 655px #353535,
    1198px 379px #353535, 1359px 1797px #353535, 1771px 255px #353535,
    1889px 1480px #353535, 1075px 1316px #353535, 755px 290px #353535,
    595px 441px #353535, 883px 960px #353535, 1980px 133px #353535,
    1666px 1419px #353535, 413px 1511px #353535, 1124px 784px #353535,
    161px 46px #353535, 161px 98px #353535, 1498px 948px #353535,
    1456px 226px #353535, 808px 251px #353535, 257px 1309px #353535,
    1668px 970px #353535, 950px 2000px #353535, 638px 283px #353535,
    1399px 360px #353535, 1650px 1883px #353535, 1530px 788px #353535,
    1126px 382px #353535, 465px 840px #353535, 1904px 294px #353535,
    559px 1272px #353535, 433px 1029px #353535, 26px 385px #353535,
    1928px 863px #353535, 341px 855px #353535, 936px 1170px #353535,
    1872px 33px #353535, 317px 515px #353535, 1396px 718px #353535,
    1498px 669px #353535, 312px 794px #353535, 1342px 1128px #353535,
    1559px 239px #353535, 1349px 810px #353535, 1571px 1232px #353535,
    1733px 1727px #353535, 705px 2000px #353535, 1880px 1010px #353535,
    855px 1789px #353535, 1172px 1208px #353535, 1208px 337px #353535,
    482px 1584px #353535, 839px 1693px #353535, 1291px 770px #353535,
    1822px 1086px #353535, 619px 1955px #353535, 650px 363px #353535,
    1522px 1981px #353535, 894px 1569px #353535, 1251px 1075px #353535,
    1279px 964px #353535, 637px 1597px #353535, 1362px 1714px #353535,
    779px 1376px #353535, 9px 1166px #353535, 1653px 166px #353535,
    1712px 1382px #353535, 1382px 1207px #353535, 283px 1203px #353535,
    1175px 1351px #353535, 1792px 1614px #353535, 1210px 1190px #353535,
    1280px 1975px #353535, 868px 520px #353535, 981px 1408px #353535,
    466px 1729px #353535, 961px 1562px #353535, 1699px 1572px #353535,
    577px 1382px #353535, 695px 1901px #353535, 1671px 1418px #353535,
    355px 527px #353535, 1250px 1395px #353535, 411px 1277px #353535,
    1px 1814px #353535, 1545px 1632px #353535, 303px 1591px #353535,
    824px 1692px #353535, 1819px 1786px #353535, 1824px 1115px #353535,
    1312px 201px #353535, 1427px 1279px #353535, 1595px 867px #353535,
    303px 654px #353535, 860px 1732px #353535, 554px 556px #353535,
    842px 1701px #353535, 1317px 36px #353535, 1206px 1349px #353535,
    28px 1123px #353535, 716px 81px #353535, 1276px 1469px #353535,
    1015px 1356px #353535, 225px 1296px #353535, 1794px 11px #353535,
    1006px 890px #353535, 443px 444px #353535, 1134px 140px #353535,
    200px 615px #353535, 1322px 1063px #353535, 880px 626px #353535,
    1929px 217px #353535, 1781px 446px #353535, 1695px 673px #353535,
    1905px 1163px #353535, 291px 453px #353535, 1884px 167px #353535,
    1859px 1861px #353535, 279px 1249px #353535, 553px 456px #353535,
    1px 1066px #353535, 1889px 691px #353535, 156px 711px #353535,
    315px 1821px #353535, 1952px 697px #353535, 1658px 1998px #353535,
    404px 1002px #353535, 921px 1980px #353535, 527px 1883px #353535,
    700px 588px #353535, 1812px 130px #353535, 557px 1528px #353535,
    1891px 266px #353535, 1675px 1626px #353535, 1645px 771px #353535,
    1890px 168px #353535, 1093px 154px #353535, 936px 1227px #353535,
    987px 1812px #353535, 1932px 1901px #353535, 1032px 1516px #353535,
    1668px 1901px #353535, 1285px 1119px #353535, 46px 845px #353535,
    1854px 1853px #353535, 1869px 1985px #353535, 1599px 992px #353535,
    1035px 130px #353535, 169px 551px #353535, 1380px 1238px #353535,
    387px 522px #353535, 546px 1890px #353535, 491px 1483px #353535,
    1426px 749px #353535, 444px 62px #353535, 584px 177px #353535,
    1808px 1484px #353535, 875px 1243px #353535, 1526px 1462px #353535,
    139px 1262px #353535, 188px 1153px #353535, 692px 1206px #353535,
    1852px 1775px #353535, 1371px 1707px #353535, 1675px 1756px #353535,
    939px 1603px #353535, 1400px 387px #353535, 1286px 1148px #353535,
    1860px 565px #353535, 112px 141px #353535, 1961px 1580px #353535,
    1735px 275px #353535, 1304px 91px #353535, 1587px 1290px #353535,
    833px 1942px #353535, 175px 1664px #353535, 6px 784px #353535,
    1360px 551px #353535, 455px 287px #353535, 1355px 1400px #353535,
    1865px 472px #353535, 291px 1534px #353535, 286px 1203px #353535,
    193px 1328px #353535, 867px 39px #353535, 348px 314px #353535,
    284px 695px #353535, 818px 1877px #353535, 22px 454px #353535,
    1115px 533px #353535, 543px 144px #353535, 24px 1305px #353535,
    1161px 1782px #353535, 1166px 655px #353535, 1363px 10px #353535,
    135px 301px #353535, 1676px 933px #353535, 1479px 90px #353535,
    1480px 1644px #353535, 922px 723px #353535, 1273px 1713px #353535,
    49px 869px #353535, 1716px 732px #353535, 832px 231px #353535,
    1355px 1980px #353535, 700px 1396px #353535, 302px 1035px #353535,
    1461px 1276px #353535, 1096px 1106px #353535, 882px 587px #353535,
    56px 1790px #353535, 1242px 1432px #353535, 271px 836px #353535,
    1621px 1472px #353535, 795px 1896px #353535, 1246px 1847px #353535,
    1843px 1793px #353535, 1166px 151px #353535, 1357px 991px #353535,
    143px 110px #353535, 867px 593px #353535, 37px 772px #353535,
    1456px 493px #353535, 29px 402px #353535, 1952px 793px #353535,
    1942px 979px #353535, 1480px 1028px #353535, 288px 967px #353535,
    1383px 615px #353535, 202px 287px #353535, 1029px 1981px #353535,
    302px 864px #353535, 299px 557px #353535, 1171px 1104px #353535,
    590px 1236px #353535, 1659px 450px #353535, 270px 943px #353535,
    256px 1925px #353535, 69px 248px #353535, 1961px 621px #353535,
    381px 1972px #353535, 202px 1422px #353535, 1549px 816px #353535,
    1405px 1083px #353535, 1172px 444px #353535, 1327px 846px #353535,
    883px 926px #353535, 1916px 1535px #353535, 1441px 1278px #353535,
    1887px 184px #353535, 1288px 1068px #353535, 1198px 1749px #353535,
    1502px 109px #353535, 236px 882px #353535, 608px 1847px #353535,
    364px 924px #353535, 772px 1686px #353535, 377px 645px #353535,
    379px 1090px #353535, 1474px 688px #353535, 465px 841px #353535,
    1849px 1691px #353535, 540px 1404px #353535, 1189px 21px #353535,
    1439px 188px #353535, 1035px 764px #353535, 1985px 273px #353535,
    352px 475px #353535, 1236px 1208px #353535, 1033px 1759px #353535,
    1782px 767px #353535, 514px 356px #353535, 548px 1449px #353535,
    773px 1600px #353535, 1105px 370px #353535, 1975px 1319px #353535,
    222px 1072px #353535, 448px 640px #353535, 39px 1116px #353535,
    1223px 40px #353535, 992px 379px #353535, 815px 1060px #353535,
    865px 1102px #353535, 103px 664px #353535, 540px 1762px #353535,
    1826px 225px #353535, 1107px 1822px #353535, 164px 1600px #353535,
    1714px 615px #353535, 1155px 416px #353535, 293px 749px #353535,
    1226px 580px #353535, 1211px 355px #353535, 1025px 1959px #353535,
    70px 371px #353535, 1814px 1946px #353535, 1977px 993px #353535,
    1012px 1840px #353535, 1015px 1445px #353535, 956px 1514px #353535,
    1467px 1204px #353535, 1083px 197px #353535, 1006px 379px #353535,
    968px 1377px #353535, 380px 1270px #353535, 1293px 595px #353535,
    1452px 1411px #353535, 830px 1175px #353535, 784px 714px #353535,
    1831px 821px #353535, 749px 1305px #353535, 1008px 397px #353535,
    648px 198px #353535, 1328px 960px #353535, 217px 1783px #353535,
    1414px 1865px #353535, 993px 99px #353535, 1682px 1803px #353535,
    1818px 30px #353535, 363px 781px #353535, 1369px 1670px #353535,
    700px 1245px #353535, 329px 1283px #353535, 838px 800px #353535,
    746px 778px #353535, 759px 593px #353535, 625px 535px #353535,
    1685px 1934px #353535, 1282px 918px #353535, 1354px 1851px #353535,
    1812px 927px #353535, 152px 769px #353535, 1056px 1778px #353535,
    647px 1125px #353535, 5px 1807px #353535, 1888px 711px #353535,
    1005px 497px #353535, 1328px 1194px #353535, 1456px 510px #353535,
    1561px 509px #353535, 1897px 812px #353535, 143px 1835px #353535,
    747px 601px #353535, 1537px 524px #353535, 1309px 1081px #353535,
    1690px 1691px #353535, 1793px 976px #353535, 1816px 1327px #353535,
    294px 1266px #353535, 551px 808px #353535, 452px 1202px #353535,
    63px 1719px #353535, 1353px 454px #353535, 92px 134px #353535,
    998px 133px #353535, 379px 866px #353535, 776px 1190px #353535,
    256px 1037px #353535, 1028px 1647px #353535, 1510px 835px #353535,
    853px 1057px #353535, 1803px 759px #353535, 1781px 640px #353535,
    986px 1478px #353535, 1826px 1478px #353535, 1519px 1860px #353535,
    1386px 1705px #353535, 158px 690px #353535, 1897px 390px #353535,
    1406px 694px #353535, 1368px 196px #353535, 1752px 1957px #353535,
    378px 908px #353535, 1491px 1672px #353535, 1753px 1035px #353535,
    1345px 514px #353535, 1023px 903px #353535, 1270px 63px #353535,
    96px 658px #353535, 241px 726px #353535, 1746px 1599px #353535,
    1970px 890px #353535, 1805px 923px #353535, 1647px 1414px #353535,
    419px 1241px #353535, 1793px 16px #353535, 1952px 1934px #353535,
    977px 1729px #353535, 1210px 129px #353535, 448px 1983px #353535,
    881px 1804px #353535, 1921px 1975px #353535, 1590px 1291px #353535,
    1409px 472px #353535, 1783px 1451px #353535, 669px 1937px #353535,
    1365px 1579px #353535, 787px 1596px #353535, 1974px 446px #353535,
    1554px 861px #353535, 641px 1584px #353535, 336px 1203px #353535,
    400px 608px #353535, 1114px 1885px #353535, 1697px 1560px #353535,
    1459px 1774px #353535, 1716px 48px #353535, 1980px 1106px #353535,
    1863px 1040px #353535, 1893px 713px #353535, 317px 962px #353535,
    807px 1292px #353535, 596px 1372px #353535, 654px 1529px #353535,
    667px 24px #353535, 1193px 372px #353535, 796px 529px #353535,
    807px 1546px #353535, 1851px 1007px #353535, 1876px 404px #353535,
    211px 1352px #353535, 239px 1666px #353535, 1486px 520px #353535,
    1481px 1456px #353535, 1375px 233px #353535, 193px 277px #353535,
    1345px 45px #353535, 101px 1830px #353535, 71px 968px #353535,
    184px 1237px #353535, 1953px 1508px #353535, 803px 1985px #353535,
    991px 1395px #353535, 910px 1200px #353535, 983px 756px #353535,
    640px 194px #353535, 735px 180px #353535, 537px 1777px #353535,
    21px 1515px #353535, 410px 385px #353535, 502px 1843px #353535,
    1565px 1152px #353535, 10px 1450px #353535, 1986px 201px #353535,
    1131px 791px #353535, 467px 1538px #353535, 1391px 275px #353535,
    1541px 1889px #353535, 13px 1777px #353535, 1819px 1832px #353535,
    1423px 1987px #353535, 728px 863px #353535, 1902px 1823px #353535,
    1863px 1501px #353535, 348px 304px #353535, 477px 274px #353535,
    706px 1236px #353535, 1511px 1584px #353535, 1651px 1271px #353535,
    687px 194px #353535, 118px 1144px #353535, 1506px 473px #353535,
    1619px 1349px #353535, 1821px 1043px #353535, 622px 55px #353535,
    997px 1665px #353535, 806px 536px #353535, 668px 1352px #353535,
    1960px 335px #353535, 367px 1768px #353535, 490px 487px #353535,
    799px 1848px #353535, 1488px 1248px #353535, 257px 901px #353535,
    768px 900px #353535, 1281px 507px #353535, 1388px 376px #353535,
    582px 629px #353535, 612px 272px #353535, 1852px 221px #353535,
    1890px 757px #353535, 1268px 1214px #353535, 649px 1704px #353535,
    1509px 1830px #353535, 1177px 579px #353535, 948px 1044px #353535,
    1641px 1445px #353535, 18px 1274px #353535, 1872px 43px #353535,
    1170px 658px #353535, 1546px 1512px #353535, 1180px 1101px #353535,
    1596px 1145px #353535, 1170px 1102px #353535, 1203px 266px #353535,
    828px 919px #353535, 1475px 1254px #353535, 1771px 427px #353535,
    761px 1018px #353535, 337px 543px #353535, 1051px 1768px #353535,
    1239px 1792px #353535, 573px 1801px #353535, 1655px 1391px #353535,
    65px 922px #353535, 690px 294px #353535, 1894px 1090px #353535,
    874px 1513px #353535, 772px 1686px #353535, 1222px 453px #353535,
    235px 1953px #353535, 250px 1800px #353535, 225px 1928px #353535,
    640px 209px #353535, 663px 1438px #353535, 323px 1104px #353535,
    186px 878px #353535, 1763px 1046px #353535, 411px 539px #353535,
    400px 19px #353535, 906px 263px #353535, 1946px 615px #353535,
    840px 69px #353535, 1467px 1260px #353535, 1562px 529px #353535,
    1600px 1091px #353535, 2000px 1504px #353535, 1107px 671px #353535,
    1197px 843px #353535, 1850px 941px #353535, 418px 1830px #353535,
    85px 1879px #353535, 1211px 725px #353535, 385px 1772px #353535,
    1421px 605px #353535, 129px 517px #353535, 1558px 191px #353535,
    209px 829px #353535, 978px 1262px #353535, 955px 1222px #353535,
    600px 1970px #353535, 47px 1753px #353535, 954px 1191px #353535,
    1353px 423px #353535, 1511px 1682px #353535, 1666px 914px #353535,
    1714px 555px #353535;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  border-radius: 1px;
  background: transparent;
  box-shadow: 1432px 1146px #353535, 1524px 154px #353535, 654px 1085px #353535,
    1747px 1434px #353535, 435px 135px #353535, 1401px 396px #353535,
    342px 1098px #353535, 1653px 1090px #353535, 646px 882px #353535,
    85px 449px #353535, 1436px 120px #353535, 1926px 1232px #353535,
    1942px 651px #353535, 1040px 1243px #353535, 1833px 1739px #353535,
    264px 1271px #353535, 1078px 705px #353535, 899px 1060px #353535,
    128px 1197px #353535, 98px 375px #353535, 1103px 617px #353535,
    637px 258px #353535, 1456px 296px #353535, 794px 1424px #353535,
    234px 640px #353535, 1736px 68px #353535, 603px 1827px #353535,
    1990px 505px #353535, 510px 1173px #353535, 861px 671px #353535,
    1205px 1056px #353535, 251px 437px #353535, 1095px 786px #353535,
    1840px 1016px #353535, 1632px 1163px #353535, 1118px 111px #353535,
    1975px 1255px #353535, 643px 1871px #353535, 50px 1400px #353535,
    1197px 499px #353535, 1842px 1813px #353535, 323px 1069px #353535,
    1569px 1506px #353535, 137px 1529px #353535, 1993px 1877px #353535,
    927px 247px #353535, 954px 1084px #353535, 780px 1714px #353535,
    404px 471px #353535, 905px 1985px #353535, 1926px 1868px #353535,
    1340px 668px #353535, 1595px 1582px #353535, 1920px 1715px #353535,
    628px 1752px #353535, 173px 380px #353535, 1573px 1083px #353535,
    1395px 425px #353535, 918px 1262px #353535, 1076px 1032px #353535,
    1016px 1615px #353535, 1349px 1309px #353535, 750px 248px #353535,
    987px 323px #353535, 1987px 1457px #353535, 1464px 724px #353535,
    359px 817px #353535, 405px 543px #353535, 1230px 218px #353535,
    200px 437px #353535, 1291px 1409px #353535, 1545px 1558px #353535,
    324px 324px #353535, 1886px 1439px #353535, 1213px 1099px #353535,
    110px 231px #353535, 720px 317px #353535, 607px 1982px #353535,
    141px 173px #353535, 1993px 1151px #353535, 1643px 1703px #353535,
    1878px 1443px #353535, 1903px 1083px #353535, 540px 1177px #353535,
    171px 1767px #353535, 410px 1839px #353535, 1331px 1685px #353535,
    1342px 699px #353535, 1804px 1506px #353535, 1761px 492px #353535,
    25px 1927px #353535, 1883px 1958px #353535, 1640px 1969px #353535,
    1564px 997px #353535, 1985px 1798px #353535, 623px 1442px #353535,
    1780px 402px #353535, 1823px 274px #353535, 1093px 931px #353535,
    733px 1610px #353535, 197px 714px #353535, 1669px 698px #353535,
    1959px 1666px #353535, 1857px 395px #353535, 406px 1678px #353535,
    1970px 1201px #353535, 705px 1342px #353535, 1456px 1056px #353535,
    1513px 1845px #353535, 1844px 1236px #353535, 1838px 1021px #353535,
    1033px 1046px #353535, 532px 1133px #353535, 191px 1627px #353535,
    330px 370px #353535, 349px 1987px #353535, 833px 483px #353535,
    1488px 902px #353535, 1756px 711px #353535, 1559px 1671px #353535,
    1844px 223px #353535, 742px 892px #353535, 1045px 1864px #353535,
    1340px 174px #353535, 1405px 564px #353535, 1241px 817px #353535,
    457px 1902px #353535, 1521px 356px #353535, 862px 189px #353535,
    621px 1534px #353535, 1803px 776px #353535, 667px 326px #353535,
    1485px 1779px #353535, 402px 457px #353535, 1235px 1558px #353535,
    406px 1459px #353535, 929px 669px #353535, 1969px 1163px #353535,
    251px 1145px #353535, 828px 1973px #353535, 424px 1685px #353535,
    869px 810px #353535, 917px 1372px #353535, 268px 1512px #353535,
    1358px 704px #353535, 199px 1026px #353535, 250px 1539px #353535,
    1824px 1266px #353535, 901px 1921px #353535, 924px 79px #353535,
    908px 1070px #353535, 1208px 1146px #353535, 1402px 599px #353535,
    230px 1456px #353535, 1474px 893px #353535, 233px 655px #353535,
    1198px 379px #353535, 1359px 1797px #353535, 1771px 255px #353535,
    1889px 1480px #353535, 1075px 1316px #353535, 755px 290px #353535,
    595px 441px #353535, 883px 960px #353535, 1980px 133px #353535,
    1666px 1419px #353535, 413px 1511px #353535, 1124px 784px #353535,
    161px 46px #353535, 161px 98px #353535, 1498px 948px #353535,
    1456px 226px #353535, 808px 251px #353535, 257px 1309px #353535,
    1668px 970px #353535, 950px 2000px #353535, 638px 283px #353535,
    1399px 360px #353535, 1650px 1883px #353535, 1530px 788px #353535,
    1126px 382px #353535, 465px 840px #353535, 1904px 294px #353535,
    559px 1272px #353535, 433px 1029px #353535, 26px 385px #353535,
    1928px 863px #353535, 341px 855px #353535, 936px 1170px #353535,
    1872px 33px #353535, 317px 515px #353535, 1396px 718px #353535,
    1498px 669px #353535, 312px 794px #353535, 1342px 1128px #353535,
    1559px 239px #353535, 1349px 810px #353535, 1571px 1232px #353535,
    1733px 1727px #353535, 705px 2000px #353535, 1880px 1010px #353535,
    855px 1789px #353535, 1172px 1208px #353535, 1208px 337px #353535,
    482px 1584px #353535, 839px 1693px #353535, 1291px 770px #353535,
    1822px 1086px #353535, 619px 1955px #353535, 650px 363px #353535,
    1522px 1981px #353535, 894px 1569px #353535, 1251px 1075px #353535,
    1279px 964px #353535, 637px 1597px #353535, 1362px 1714px #353535,
    779px 1376px #353535, 9px 1166px #353535, 1653px 166px #353535,
    1712px 1382px #353535, 1382px 1207px #353535, 283px 1203px #353535,
    1175px 1351px #353535, 1792px 1614px #353535, 1210px 1190px #353535,
    1280px 1975px #353535, 868px 520px #353535, 981px 1408px #353535,
    466px 1729px #353535, 961px 1562px #353535, 1699px 1572px #353535,
    577px 1382px #353535, 695px 1901px #353535, 1671px 1418px #353535,
    355px 527px #353535, 1250px 1395px #353535, 411px 1277px #353535,
    1px 1814px #353535, 1545px 1632px #353535, 303px 1591px #353535,
    824px 1692px #353535, 1819px 1786px #353535, 1824px 1115px #353535,
    1312px 201px #353535, 1427px 1279px #353535, 1595px 867px #353535,
    303px 654px #353535, 860px 1732px #353535, 554px 556px #353535,
    842px 1701px #353535, 1317px 36px #353535, 1206px 1349px #353535,
    28px 1123px #353535, 716px 81px #353535, 1276px 1469px #353535,
    1015px 1356px #353535, 225px 1296px #353535, 1794px 11px #353535,
    1006px 890px #353535, 443px 444px #353535, 1134px 140px #353535,
    200px 615px #353535, 1322px 1063px #353535, 880px 626px #353535,
    1929px 217px #353535, 1781px 446px #353535, 1695px 673px #353535,
    1905px 1163px #353535, 291px 453px #353535, 1884px 167px #353535,
    1859px 1861px #353535, 279px 1249px #353535, 553px 456px #353535,
    1px 1066px #353535, 1889px 691px #353535, 156px 711px #353535,
    315px 1821px #353535, 1952px 697px #353535, 1658px 1998px #353535,
    404px 1002px #353535, 921px 1980px #353535, 527px 1883px #353535,
    700px 588px #353535, 1812px 130px #353535, 557px 1528px #353535,
    1891px 266px #353535, 1675px 1626px #353535, 1645px 771px #353535,
    1890px 168px #353535, 1093px 154px #353535, 936px 1227px #353535,
    987px 1812px #353535, 1932px 1901px #353535, 1032px 1516px #353535,
    1668px 1901px #353535, 1285px 1119px #353535, 46px 845px #353535,
    1854px 1853px #353535, 1869px 1985px #353535, 1599px 992px #353535,
    1035px 130px #353535, 169px 551px #353535, 1380px 1238px #353535,
    387px 522px #353535, 546px 1890px #353535, 491px 1483px #353535,
    1426px 749px #353535, 444px 62px #353535, 584px 177px #353535,
    1808px 1484px #353535, 875px 1243px #353535, 1526px 1462px #353535,
    139px 1262px #353535, 188px 1153px #353535, 692px 1206px #353535,
    1852px 1775px #353535, 1371px 1707px #353535, 1675px 1756px #353535,
    939px 1603px #353535, 1400px 387px #353535, 1286px 1148px #353535,
    1860px 565px #353535, 112px 141px #353535, 1961px 1580px #353535,
    1735px 275px #353535, 1304px 91px #353535, 1587px 1290px #353535,
    833px 1942px #353535, 175px 1664px #353535, 6px 784px #353535,
    1360px 551px #353535, 455px 287px #353535, 1355px 1400px #353535,
    1865px 472px #353535, 291px 1534px #353535, 286px 1203px #353535,
    193px 1328px #353535, 867px 39px #353535, 348px 314px #353535,
    284px 695px #353535, 818px 1877px #353535, 22px 454px #353535,
    1115px 533px #353535, 543px 144px #353535, 24px 1305px #353535,
    1161px 1782px #353535, 1166px 655px #353535, 1363px 10px #353535,
    135px 301px #353535, 1676px 933px #353535, 1479px 90px #353535,
    1480px 1644px #353535, 922px 723px #353535, 1273px 1713px #353535,
    49px 869px #353535, 1716px 732px #353535, 832px 231px #353535,
    1355px 1980px #353535, 700px 1396px #353535, 302px 1035px #353535,
    1461px 1276px #353535, 1096px 1106px #353535, 882px 587px #353535,
    56px 1790px #353535, 1242px 1432px #353535, 271px 836px #353535,
    1621px 1472px #353535, 795px 1896px #353535, 1246px 1847px #353535,
    1843px 1793px #353535, 1166px 151px #353535, 1357px 991px #353535,
    143px 110px #353535, 867px 593px #353535, 37px 772px #353535,
    1456px 493px #353535, 29px 402px #353535, 1952px 793px #353535,
    1942px 979px #353535, 1480px 1028px #353535, 288px 967px #353535,
    1383px 615px #353535, 202px 287px #353535, 1029px 1981px #353535,
    302px 864px #353535, 299px 557px #353535, 1171px 1104px #353535,
    590px 1236px #353535, 1659px 450px #353535, 270px 943px #353535,
    256px 1925px #353535, 69px 248px #353535, 1961px 621px #353535,
    381px 1972px #353535, 202px 1422px #353535, 1549px 816px #353535,
    1405px 1083px #353535, 1172px 444px #353535, 1327px 846px #353535,
    883px 926px #353535, 1916px 1535px #353535, 1441px 1278px #353535,
    1887px 184px #353535, 1288px 1068px #353535, 1198px 1749px #353535,
    1502px 109px #353535, 236px 882px #353535, 608px 1847px #353535,
    364px 924px #353535, 772px 1686px #353535, 377px 645px #353535,
    379px 1090px #353535, 1474px 688px #353535, 465px 841px #353535,
    1849px 1691px #353535, 540px 1404px #353535, 1189px 21px #353535,
    1439px 188px #353535, 1035px 764px #353535, 1985px 273px #353535,
    352px 475px #353535, 1236px 1208px #353535, 1033px 1759px #353535,
    1782px 767px #353535, 514px 356px #353535, 548px 1449px #353535,
    773px 1600px #353535, 1105px 370px #353535, 1975px 1319px #353535,
    222px 1072px #353535, 448px 640px #353535, 39px 1116px #353535,
    1223px 40px #353535, 992px 379px #353535, 815px 1060px #353535,
    865px 1102px #353535, 103px 664px #353535, 540px 1762px #353535,
    1826px 225px #353535, 1107px 1822px #353535, 164px 1600px #353535,
    1714px 615px #353535, 1155px 416px #353535, 293px 749px #353535,
    1226px 580px #353535, 1211px 355px #353535, 1025px 1959px #353535,
    70px 371px #353535, 1814px 1946px #353535, 1977px 993px #353535,
    1012px 1840px #353535, 1015px 1445px #353535, 956px 1514px #353535,
    1467px 1204px #353535, 1083px 197px #353535, 1006px 379px #353535,
    968px 1377px #353535, 380px 1270px #353535, 1293px 595px #353535,
    1452px 1411px #353535, 830px 1175px #353535, 784px 714px #353535,
    1831px 821px #353535, 749px 1305px #353535, 1008px 397px #353535,
    648px 198px #353535, 1328px 960px #353535, 217px 1783px #353535,
    1414px 1865px #353535, 993px 99px #353535, 1682px 1803px #353535,
    1818px 30px #353535, 363px 781px #353535, 1369px 1670px #353535,
    700px 1245px #353535, 329px 1283px #353535, 838px 800px #353535,
    746px 778px #353535, 759px 593px #353535, 625px 535px #353535,
    1685px 1934px #353535, 1282px 918px #353535, 1354px 1851px #353535,
    1812px 927px #353535, 152px 769px #353535, 1056px 1778px #353535,
    647px 1125px #353535, 5px 1807px #353535, 1888px 711px #353535,
    1005px 497px #353535, 1328px 1194px #353535, 1456px 510px #353535,
    1561px 509px #353535, 1897px 812px #353535, 143px 1835px #353535,
    747px 601px #353535, 1537px 524px #353535, 1309px 1081px #353535,
    1690px 1691px #353535, 1793px 976px #353535, 1816px 1327px #353535,
    294px 1266px #353535, 551px 808px #353535, 452px 1202px #353535,
    63px 1719px #353535, 1353px 454px #353535, 92px 134px #353535,
    998px 133px #353535, 379px 866px #353535, 776px 1190px #353535,
    256px 1037px #353535, 1028px 1647px #353535, 1510px 835px #353535,
    853px 1057px #353535, 1803px 759px #353535, 1781px 640px #353535,
    986px 1478px #353535, 1826px 1478px #353535, 1519px 1860px #353535,
    1386px 1705px #353535, 158px 690px #353535, 1897px 390px #353535,
    1406px 694px #353535, 1368px 196px #353535, 1752px 1957px #353535,
    378px 908px #353535, 1491px 1672px #353535, 1753px 1035px #353535,
    1345px 514px #353535, 1023px 903px #353535, 1270px 63px #353535,
    96px 658px #353535, 241px 726px #353535, 1746px 1599px #353535,
    1970px 890px #353535, 1805px 923px #353535, 1647px 1414px #353535,
    419px 1241px #353535, 1793px 16px #353535, 1952px 1934px #353535,
    977px 1729px #353535, 1210px 129px #353535, 448px 1983px #353535,
    881px 1804px #353535, 1921px 1975px #353535, 1590px 1291px #353535,
    1409px 472px #353535, 1783px 1451px #353535, 669px 1937px #353535,
    1365px 1579px #353535, 787px 1596px #353535, 1974px 446px #353535,
    1554px 861px #353535, 641px 1584px #353535, 336px 1203px #353535,
    400px 608px #353535, 1114px 1885px #353535, 1697px 1560px #353535,
    1459px 1774px #353535, 1716px 48px #353535, 1980px 1106px #353535,
    1863px 1040px #353535, 1893px 713px #353535, 317px 962px #353535,
    807px 1292px #353535, 596px 1372px #353535, 654px 1529px #353535,
    667px 24px #353535, 1193px 372px #353535, 796px 529px #353535,
    807px 1546px #353535, 1851px 1007px #353535, 1876px 404px #353535,
    211px 1352px #353535, 239px 1666px #353535, 1486px 520px #353535,
    1481px 1456px #353535, 1375px 233px #353535, 193px 277px #353535,
    1345px 45px #353535, 101px 1830px #353535, 71px 968px #353535,
    184px 1237px #353535, 1953px 1508px #353535, 803px 1985px #353535,
    991px 1395px #353535, 910px 1200px #353535, 983px 756px #353535,
    640px 194px #353535, 735px 180px #353535, 537px 1777px #353535,
    21px 1515px #353535, 410px 385px #353535, 502px 1843px #353535,
    1565px 1152px #353535, 10px 1450px #353535, 1986px 201px #353535,
    1131px 791px #353535, 467px 1538px #353535, 1391px 275px #353535,
    1541px 1889px #353535, 13px 1777px #353535, 1819px 1832px #353535,
    1423px 1987px #353535, 728px 863px #353535, 1902px 1823px #353535,
    1863px 1501px #353535, 348px 304px #353535, 477px 274px #353535,
    706px 1236px #353535, 1511px 1584px #353535, 1651px 1271px #353535,
    687px 194px #353535, 118px 1144px #353535, 1506px 473px #353535,
    1619px 1349px #353535, 1821px 1043px #353535, 622px 55px #353535,
    997px 1665px #353535, 806px 536px #353535, 668px 1352px #353535,
    1960px 335px #353535, 367px 1768px #353535, 490px 487px #353535,
    799px 1848px #353535, 1488px 1248px #353535, 257px 901px #353535,
    768px 900px #353535, 1281px 507px #353535, 1388px 376px #353535,
    582px 629px #353535, 612px 272px #353535, 1852px 221px #353535,
    1890px 757px #353535, 1268px 1214px #353535, 649px 1704px #353535,
    1509px 1830px #353535, 1177px 579px #353535, 948px 1044px #353535,
    1641px 1445px #353535, 18px 1274px #353535, 1872px 43px #353535,
    1170px 658px #353535, 1546px 1512px #353535, 1180px 1101px #353535,
    1596px 1145px #353535, 1170px 1102px #353535, 1203px 266px #353535,
    828px 919px #353535, 1475px 1254px #353535, 1771px 427px #353535,
    761px 1018px #353535, 337px 543px #353535, 1051px 1768px #353535,
    1239px 1792px #353535, 573px 1801px #353535, 1655px 1391px #353535,
    65px 922px #353535, 690px 294px #353535, 1894px 1090px #353535,
    874px 1513px #353535, 772px 1686px #353535, 1222px 453px #353535,
    235px 1953px #353535, 250px 1800px #353535, 225px 1928px #353535,
    640px 209px #353535, 663px 1438px #353535, 323px 1104px #353535,
    186px 878px #353535, 1763px 1046px #353535, 411px 539px #353535,
    400px 19px #353535, 906px 263px #353535, 1946px 615px #353535,
    840px 69px #353535, 1467px 1260px #353535, 1562px 529px #353535,
    1600px 1091px #353535, 2000px 1504px #353535, 1107px 671px #353535,
    1197px 843px #353535, 1850px 941px #353535, 418px 1830px #353535,
    85px 1879px #353535, 1211px 725px #353535, 385px 1772px #353535,
    1421px 605px #353535, 129px 517px #353535, 1558px 191px #353535,
    209px 829px #353535, 978px 1262px #353535, 955px 1222px #353535,
    600px 1970px #353535, 47px 1753px #353535, 954px 1191px #353535,
    1353px 423px #353535, 1511px 1682px #353535, 1666px 914px #353535,
    1714px 555px #353535;
}

#stars2 {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background: transparent;
  box-shadow: 81px 1035px #353535, 1283px 1781px #353535, 1331px 1730px #353535,
    1206px 152px #353535, 1348px 1049px #353535, 111px 1172px #353535,
    1274px 1651px #353535, 60px 983px #353535, 1389px 746px #353535,
    421px 989px #353535, 1848px 132px #353535, 577px 668px #353535,
    72px 1367px #353535, 722px 1378px #353535, 1288px 851px #353535,
    685px 516px #353535, 420px 1278px #353535, 1440px 526px #353535,
    1893px 1422px #353535, 1749px 1079px #353535, 1021px 198px #353535,
    1877px 28px #353535, 1840px 893px #353535, 636px 514px #353535,
    935px 544px #353535, 1631px 412px #353535, 186px 1771px #353535,
    121px 340px #353535, 781px 594px #353535, 548px 1251px #353535,
    1310px 691px #353535, 1470px 1787px #353535, 1399px 536px #353535,
    739px 1834px #353535, 400px 1919px #353535, 1957px 1579px #353535,
    1231px 437px #353535, 1810px 792px #353535, 596px 1657px #353535,
    502px 153px #353535, 1213px 392px #353535, 668px 114px #353535,
    224px 37px #353535, 1429px 1143px #353535, 1542px 843px #353535,
    1590px 1922px #353535, 110px 144px #353535, 801px 1889px #353535,
    1595px 643px #353535, 1024px 30px #353535, 1760px 1734px #353535,
    1715px 181px #353535, 1455px 224px #353535, 1282px 609px #353535,
    178px 843px #353535, 1158px 508px #353535, 1785px 1291px #353535,
    1016px 1084px #353535, 70px 13px #353535, 1308px 1447px #353535,
    8px 1266px #353535, 1871px 716px #353535, 1118px 1630px #353535,
    1807px 602px #353535, 461px 1317px #353535, 548px 154px #353535,
    1885px 1943px #353535, 697px 1829px #353535, 1441px 1566px #353535,
    1352px 499px #353535, 1018px 381px #353535, 1306px 1765px #353535,
    717px 461px #353535, 1729px 1020px #353535, 42px 169px #353535,
    621px 749px #353535, 10px 1364px #353535, 577px 1720px #353535,
    1868px 1536px #353535, 602px 996px #353535, 72px 609px #353535,
    785px 1357px #353535, 1380px 544px #353535, 1358px 413px #353535,
    220px 1494px #353535, 1004px 941px #353535, 682px 720px #353535,
    1373px 1492px #353535, 410px 1958px #353535, 1758px 1337px #353535,
    128px 140px #353535, 1567px 650px #353535, 1949px 221px #353535,
    132px 1361px #353535, 822px 1836px #353535, 822px 1701px #353535,
    551px 409px #353535, 1410px 1253px #353535, 1237px 353px #353535,
    241px 1953px #353535, 833px 1946px #353535, 678px 1463px #353535,
    1870px 1284px #353535, 1388px 559px #353535, 191px 1147px #353535,
    176px 623px #353535, 1321px 1352px #353535, 178px 1343px #353535,
    1942px 860px #353535, 1528px 1802px #353535, 1959px 425px #353535,
    1923px 1487px #353535, 1954px 830px #353535, 1467px 1454px #353535,
    1890px 1503px #353535, 875px 266px #353535, 1221px 32px #353535,
    358px 329px #353535, 1596px 1912px #353535, 1238px 1830px #353535,
    1029px 1460px #353535, 120px 1889px #353535, 914px 481px #353535,
    870px 1140px #353535, 841px 168px #353535, 230px 1242px #353535,
    46px 1479px #353535, 1958px 507px #353535, 1685px 1629px #353535,
    1644px 1093px #353535, 78px 316px #353535, 559px 629px #353535,
    243px 1905px #353535, 1039px 145px #353535, 901px 1532px #353535,
    629px 375px #353535, 1803px 1483px #353535, 452px 881px #353535,
    168px 191px #353535, 1421px 1636px #353535, 42px 597px #353535,
    1867px 388px #353535, 1622px 935px #353535, 593px 912px #353535,
    1905px 1249px #353535, 852px 577px #353535, 1025px 186px #353535,
    314px 1590px #353535, 566px 56px #353535, 1182px 1198px #353535,
    465px 1681px #353535, 337px 814px #353535, 1668px 1791px #353535,
    789px 320px #353535, 322px 1476px #353535, 1665px 1465px #353535,
    860px 1058px #353535, 1244px 1094px #353535, 1874px 345px #353535,
    1116px 70px #353535, 501px 1212px #353535, 1205px 830px #353535,
    75px 1095px #353535, 546px 418px #353535, 1987px 830px #353535,
    1455px 81px #353535, 1770px 651px #353535, 615px 743px #353535,
    1366px 641px #353535, 995px 1837px #353535, 1548px 1968px #353535,
    1712px 25px #353535, 1574px 759px #353535, 1898px 644px #353535,
    337px 267px #353535, 1501px 645px #353535, 1916px 799px #353535,
    119px 812px #353535, 1007px 1519px #353535, 1921px 215px #353535,
    589px 1072px #353535, 1752px 678px #353535, 1871px 749px #353535,
    661px 779px #353535, 298px 1704px #353535, 1031px 1882px #353535,
    1449px 145px #353535, 895px 1014px #353535, 1971px 1765px #353535,
    1667px 1574px #353535, 1808px 1866px #353535, 1376px 1398px #353535,
    327px 1664px #353535, 1579px 790px #353535, 580px 1155px #353535,
    694px 1899px #353535, 813px 1372px #353535, 1856px 1859px #353535,
    342px 1565px #353535, 356px 820px #353535;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background: transparent;
  box-shadow: 81px 1035px #353535, 1283px 1781px #353535, 1331px 1730px #353535,
    1206px 152px #353535, 1348px 1049px #353535, 111px 1172px #353535,
    1274px 1651px #353535, 60px 983px #353535, 1389px 746px #353535,
    421px 989px #353535, 1848px 132px #353535, 577px 668px #353535,
    72px 1367px #353535, 722px 1378px #353535, 1288px 851px #353535,
    685px 516px #353535, 420px 1278px #353535, 1440px 526px #353535,
    1893px 1422px #353535, 1749px 1079px #353535, 1021px 198px #353535,
    1877px 28px #353535, 1840px 893px #353535, 636px 514px #353535,
    935px 544px #353535, 1631px 412px #353535, 186px 1771px #353535,
    121px 340px #353535, 781px 594px #353535, 548px 1251px #353535,
    1310px 691px #353535, 1470px 1787px #353535, 1399px 536px #353535,
    739px 1834px #353535, 400px 1919px #353535, 1957px 1579px #353535,
    1231px 437px #353535, 1810px 792px #353535, 596px 1657px #353535,
    502px 153px #353535, 1213px 392px #353535, 668px 114px #353535,
    224px 37px #353535, 1429px 1143px #353535, 1542px 843px #353535,
    1590px 1922px #353535, 110px 144px #353535, 801px 1889px #353535,
    1595px 643px #353535, 1024px 30px #353535, 1760px 1734px #353535,
    1715px 181px #353535, 1455px 224px #353535, 1282px 609px #353535,
    178px 843px #353535, 1158px 508px #353535, 1785px 1291px #353535,
    1016px 1084px #353535, 70px 13px #353535, 1308px 1447px #353535,
    8px 1266px #353535, 1871px 716px #353535, 1118px 1630px #353535,
    1807px 602px #353535, 461px 1317px #353535, 548px 154px #353535,
    1885px 1943px #353535, 697px 1829px #353535, 1441px 1566px #353535,
    1352px 499px #353535, 1018px 381px #353535, 1306px 1765px #353535,
    717px 461px #353535, 1729px 1020px #353535, 42px 169px #353535,
    621px 749px #353535, 10px 1364px #353535, 577px 1720px #353535,
    1868px 1536px #353535, 602px 996px #353535, 72px 609px #353535,
    785px 1357px #353535, 1380px 544px #353535, 1358px 413px #353535,
    220px 1494px #353535, 1004px 941px #353535, 682px 720px #353535,
    1373px 1492px #353535, 410px 1958px #353535, 1758px 1337px #353535,
    128px 140px #353535, 1567px 650px #353535, 1949px 221px #353535,
    132px 1361px #353535, 822px 1836px #353535, 822px 1701px #353535,
    551px 409px #353535, 1410px 1253px #353535, 1237px 353px #353535,
    241px 1953px #353535, 833px 1946px #353535, 678px 1463px #353535,
    1870px 1284px #353535, 1388px 559px #353535, 191px 1147px #353535,
    176px 623px #353535, 1321px 1352px #353535, 178px 1343px #353535,
    1942px 860px #353535, 1528px 1802px #353535, 1959px 425px #353535,
    1923px 1487px #353535, 1954px 830px #353535, 1467px 1454px #353535,
    1890px 1503px #353535, 875px 266px #353535, 1221px 32px #353535,
    358px 329px #353535, 1596px 1912px #353535, 1238px 1830px #353535,
    1029px 1460px #353535, 120px 1889px #353535, 914px 481px #353535,
    870px 1140px #353535, 841px 168px #353535, 230px 1242px #353535,
    46px 1479px #353535, 1958px 507px #353535, 1685px 1629px #353535,
    1644px 1093px #353535, 78px 316px #353535, 559px 629px #353535,
    243px 1905px #353535, 1039px 145px #353535, 901px 1532px #353535,
    629px 375px #353535, 1803px 1483px #353535, 452px 881px #353535,
    168px 191px #353535, 1421px 1636px #353535, 42px 597px #353535,
    1867px 388px #353535, 1622px 935px #353535, 593px 912px #353535,
    1905px 1249px #353535, 852px 577px #353535, 1025px 186px #353535,
    314px 1590px #353535, 566px 56px #353535, 1182px 1198px #353535,
    465px 1681px #353535, 337px 814px #353535, 1668px 1791px #353535,
    789px 320px #353535, 322px 1476px #353535, 1665px 1465px #353535,
    860px 1058px #353535, 1244px 1094px #353535, 1874px 345px #353535,
    1116px 70px #353535, 501px 1212px #353535, 1205px 830px #353535,
    75px 1095px #353535, 546px 418px #353535, 1987px 830px #353535,
    1455px 81px #353535, 1770px 651px #353535, 615px 743px #353535,
    1366px 641px #353535, 995px 1837px #353535, 1548px 1968px #353535,
    1712px 25px #353535, 1574px 759px #353535, 1898px 644px #353535,
    337px 267px #353535, 1501px 645px #353535, 1916px 799px #353535,
    119px 812px #353535, 1007px 1519px #353535, 1921px 215px #353535,
    589px 1072px #353535, 1752px 678px #353535, 1871px 749px #353535,
    661px 779px #353535, 298px 1704px #353535, 1031px 1882px #353535,
    1449px 145px #353535, 895px 1014px #353535, 1971px 1765px #353535,
    1667px 1574px #353535, 1808px 1866px #353535, 1376px 1398px #353535,
    327px 1664px #353535, 1579px 790px #353535, 580px 1155px #353535,
    694px 1899px #353535, 813px 1372px #353535, 1856px 1859px #353535,
    342px 1565px #353535, 356px 820px #353535;
}

#stars3 {
  width: 7px;
  height: 7px;
  border-radius: 4px;
  background: transparent;
  box-shadow: 1802px 447px #353535, 594px 1793px #353535, 83px 213px #353535,
    376px 1079px #353535, 548px 839px #353535, 1524px 994px #353535,
    774px 1622px #353535, 1551px 1506px #353535, 1650px 576px #353535,
    211px 948px #353535, 1810px 795px #353535, 635px 1367px #353535,
    1291px 1526px #353535, 1367px 858px #353535, 476px 200px #353535,
    1514px 1887px #353535, 260px 1783px #353535, 336px 136px #353535,
    951px 1649px #353535, 1991px 1279px #353535, 326px 1064px #353535,
    1623px 884px #353535, 1802px 1415px #353535, 1117px 535px #353535,
    1493px 157px #353535, 595px 297px #353535, 754px 1789px #353535,
    676px 1421px #353535, 1141px 1804px #353535, 1307px 1934px #353535,
    1292px 939px #353535, 816px 1921px #353535, 231px 168px #353535,
    990px 130px #353535, 1679px 858px #353535, 1409px 1788px #353535,
    1407px 922px #353535, 203px 338px #353535, 1601px 1846px #353535,
    1988px 1325px #353535, 286px 1868px #353535, 1798px 1440px #353535,
    1858px 1542px #353535, 1486px 1573px #353535, 1235px 779px #353535,
    1310px 187px #353535, 221px 511px #353535, 1652px 210px #353535,
    91px 610px #353535, 11px 1716px #353535, 1217px 598px #353535,
    1436px 460px #353535, 234px 236px #353535, 1310px 39px #353535,
    29px 1226px #353535, 1115px 850px #353535, 1784px 13px #353535,
    566px 887px #353535, 345px 602px #353535, 1655px 1020px #353535,
    1353px 820px #353535, 1293px 822px #353535, 848px 203px #353535,
    1341px 836px #353535, 348px 1534px #353535, 1794px 110px #353535,
    1018px 1421px #353535, 132px 1618px #353535, 899px 1581px #353535,
    8px 1064px #353535, 650px 391px #353535, 1424px 159px #353535,
    999px 1499px #353535, 612px 1762px #353535, 200px 689px #353535,
    1305px 1669px #353535, 1667px 1504px #353535, 1870px 1858px #353535,
    1236px 1149px #353535, 1743px 1780px #353535, 1106px 1784px #353535,
    1751px 1034px #353535, 1012px 223px #353535, 836px 1126px #353535,
    893px 1773px #353535, 159px 1246px #353535, 1518px 709px #353535,
    645px 374px #353535, 242px 426px #353535, 1554px 96px #353535,
    1154px 49px #353535, 1163px 671px #353535, 1759px 1779px #353535,
    1667px 106px #353535, 345px 1074px #353535, 737px 1186px #353535,
    613px 382px #353535, 1984px 215px #353535, 1005px 1465px #353535,
    801px 171px #353535;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 7px;
  height: 7px;
  border-radius: 4px;
  background: transparent;
  box-shadow: 1802px 447px #353535, 594px 1793px #353535, 83px 213px #353535,
    376px 1079px #353535, 548px 839px #353535, 1524px 994px #353535,
    774px 1622px #353535, 1551px 1506px #353535, 1650px 576px #353535,
    211px 948px #353535, 1810px 795px #353535, 635px 1367px #353535,
    1291px 1526px #353535, 1367px 858px #353535, 476px 200px #353535,
    1514px 1887px #353535, 260px 1783px #353535, 336px 136px #353535,
    951px 1649px #353535, 1991px 1279px #353535, 326px 1064px #353535,
    1623px 884px #353535, 1802px 1415px #353535, 1117px 535px #353535,
    1493px 157px #353535, 595px 297px #353535, 754px 1789px #353535,
    676px 1421px #353535, 1141px 1804px #353535, 1307px 1934px #353535,
    1292px 939px #353535, 816px 1921px #353535, 231px 168px #353535,
    990px 130px #353535, 1679px 858px #353535, 1409px 1788px #353535,
    1407px 922px #353535, 203px 338px #353535, 1601px 1846px #353535,
    1988px 1325px #353535, 286px 1868px #353535, 1798px 1440px #353535,
    1858px 1542px #353535, 1486px 1573px #353535, 1235px 779px #353535,
    1310px 187px #353535, 221px 511px #353535, 1652px 210px #353535,
    91px 610px #353535, 11px 1716px #353535, 1217px 598px #353535,
    1436px 460px #353535, 234px 236px #353535, 1310px 39px #353535,
    29px 1226px #353535, 1115px 850px #353535, 1784px 13px #353535,
    566px 887px #353535, 345px 602px #353535, 1655px 1020px #353535,
    1353px 820px #353535, 1293px 822px #353535, 848px 203px #353535,
    1341px 836px #353535, 348px 1534px #353535, 1794px 110px #353535,
    1018px 1421px #353535, 132px 1618px #353535, 899px 1581px #353535,
    8px 1064px #353535, 650px 391px #353535, 1424px 159px #353535,
    999px 1499px #353535, 612px 1762px #353535, 200px 689px #353535,
    1305px 1669px #353535, 1667px 1504px #353535, 1870px 1858px #353535,
    1236px 1149px #353535, 1743px 1780px #353535, 1106px 1784px #353535,
    1751px 1034px #353535, 1012px 223px #353535, 836px 1126px #353535,
    893px 1773px #353535, 159px 1246px #353535, 1518px 709px #353535,
    645px 374px #353535, 242px 426px #353535, 1554px 96px #353535,
    1154px 49px #353535, 1163px 671px #353535, 1759px 1779px #353535,
    1667px 106px #353535, 345px 1074px #353535, 737px 1186px #353535,
    613px 382px #353535, 1984px 215px #353535, 1005px 1465px #353535,
    801px 171px #353535;
}
@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
